.wp-color-picker {
	width: 80px;
}

.wp-picker-container .hidden {
	display: none;
}

	/* === color picker launch button === */
	.wp-color-result {
		background-color: #f9f9f9;
		border: 1px solid #ccc;
		border-radius: 3px;
		cursor: pointer;
		display: inline-block;
		height: 48px;
		line-height: 46px;
		margin: 6px 6px 6px 0;
		padding-left: 30px;
		position: relative;
		top: 0;
		user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-webkit-user-select: none;
		vertical-align: bottom;
		}

		/* button text */
		.wp-color-result:after {
			background: #f3f3f3;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
			background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
			background-image:	-moz-linear-gradient(top, #fefefe, #f4f4f4);
			background-image:	  -o-linear-gradient(top, #fefefe, #f4f4f4);
			background-image:   linear-gradient(to bottom, #fefefe, #f4f4f4);
			color: #333;
			text-shadow: 0 1px 0 #fff;
			border-radius: 0 1px 1px 0;
			border-left: 1px solid #ccc;
			content: attr( title );
			display: block;
			font-size: 15px;
			height: 46px;
			line-height: 46px;
			padding: 0 17px;
			position: relative;
			right: 0;
			text-align: center;
			top: 0;
			}
		.wp-color-result:hover:after {
			color: #222;
			border-color: #aaa;
			}
		.wp-color-result.wp-picker-open:after {
			content: attr( data-current );
			}

	/* button hover */
	.wp-color-result:hover {
		border-color: #aaa;
		text-decoration: none;
		}

.wp-picker-container, .wp-picker-container:active {
	display: inline-block;
	outline: 0;
}


.wp-picker-open + .wp-picker-input-wrap {
	display: inline-block;
	vertical-align: top;
}

.wp-picker-container .button {
	margin-left: 6px;
}

.wp-picker-container .iris-square-slider .ui-slider-handle:focus {
	background-color: #555
}

/* color hex code field */
input[type="text"].iris-error {
	background-color: #ffebe8;
	color: #000;
	}

.wp-picker-holder *,
.wp-picker-holder *:after,
.wp-picker-holder *:before {
	box-sizing: content-box;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
	}
		
/* color picker popup */
.wp-picker-container .iris-picker {
	border-color: #dfdfdf;
	margin-top: 6px;
	}
