		body#media-upload .tablenav .actions:nth-child(2) {
			margin-left: 0;
			}

		#media-upload #media-items .describe-toggle-on,
		#media-upload #media-items .describe-toggle-off {
			float: left;
			}

#search-filter {
	text-align: left;
}

.menu_order {
	float: left;
}

#media-upload .widefat {
	width: 626px;
	border-style: solid solid none;
}

#gallery-settings #basic th.label {
	padding: 5px 0px 5px 5px;
}

#gallery-settings .describe th.label {
	padding-top: .5em;
	text-align: right;
}

#gallery-settings label,
#gallery-settings legend {
	margin-left: 15px;
	margin-right: 0;
}

#gallery-settings .align .field label {
	margin: 0 3px 0 1em;
}

#sort-buttons {
	margin: 3px 0 -8px 25px;
	text-align: left;
}

#sort-buttons #asc,
#sort-buttons #showall {
	padding-left: 0px;
	padding-right: 5px;
}

#sort-buttons span {
	margin-right: 0;
	margin-left: 25px;
}